<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test_make</title>
</head>
<body>
    <form action="POST">
        
    </form>
</body>
</html>
<!--     <h1>The Data is given as :</h1>
    <div class="loop-render">
        <li>
            Full-Name : <%=Data.uname%>
        </li>
        <li>
            Last-Name : <%=Data.fname%>
        </li>
        <li>
            ID : <%=Data.id%>
        </li>
    </div>
    <% Meta.forEach(data1 => { %>
    <div class="loop-render">
        <li>
            Full-Name : <%=data1.uname%>
        </li>
        <li>
            Last-Name : <%=data1.fname%>
        </li>
        <li>
            ID : <%=data1..id%>
        </li>
    </div>
    <%})%>  -->